@model BlogTeste1.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.InfoAdicional != String.Empty)
{
    <h3>@Model.InfoAdicional</h3>
}

<main>
    @foreach (var item in Model.Posts)
    {
        var autor = item.Autor != null ? item.Autor.UserName : "Desconhecido";
        <article>
            <h2>@item.Titulo</h2>
            <p>@item.Resumo</p>
            <p class="small">Publicado em @string.Format("{0:dd/MM/yyyy}", item.DataPublicacao), por @autor em @string.Join(", ", item.Categorias.Select(c => c.Nome))</p>
        </article>
    }
</main>