@model BlogTeste1.Models.PostViewModel

<div class="input-group">
    @Html.LabelFor(p => p.Titulo)
    @Html.TextBoxFor(p => p.Titulo, new { @class = "form-control" } )
    @Html.ValidationMessageFor(p => p.Titulo)
</div>

<div class="input-group">
    @Html.LabelFor(p => p.Resumo)
    @Html.TextBoxFor(p => p.Resumo, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Resumo)
</div>

<div class="input-group">
    @Html.LabelFor(p => p.CategoriasId)
    @Html.ListBoxFor(p => p.CategoriasId, new SelectList(ViewBag.Categorias, "Id", "Nome"), new { @class = "form-control", size = "5" })
    @Html.ValidationMessageFor(p => p.CategoriasId)
</div>